<p style="color: green"><%= notice %></p>

<%= render @user %>

<div>
  <%= link_to "Edit this user", edit_user_path(@user), class:'btn btn-primary'  %> |
  <%= link_to "Back to users", users_path, class:'btn btn-warning'  %>
  <div class="btndelete"> 
    <%= button_to "Destroy this user", @user, method: :delete, class:'btn btn-danger' %>
  </div>      
</div>

<h1>Contact Teacher</h1>
<div class="media">
  <div class="media-body">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Faculty</th>
          <th>Student Id Number</th>
          <th>National Lecturer Identification Number</th>
          <th>Last Position</th>
        </tr>
      </thead>
    
      <tbody>
        <% @user.teachers.each do |contact| %>
          <tr>
            <td><%= contact.name %></td>
            <td><%= contact.email %></td>
            <td><%= contact.phone %></td>
            <td><%= contact.faculty %></td>
            <td><%= contact.student_id_number %></td>
            <td><%= contact.national_lecturer_identification_number %></td>
            <td><%= contact.last_position %></td>
            <td><%= link_to 'Delete', [@user, contact], method: :delete, class:'btn btn-danger' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to 'New Contact Teacher', new_user_teacher_path(@user), class:'btn btn-primary'  %>
  </div>
</div>

<h1>Contact Friend</h1>
<div class="media">
  <div class="media-body">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Faculty</th>
          <th>Student Id Number</th>
          <th>National Lecturer Identification Number</th>
          <th>Last Position</th>
        </tr>
      </thead>
    
      <tbody>
        <% @user.friends.each do |contact| %>
          <tr>
            <td><%= contact.name %></td>
            <td><%= contact.email %></td>
            <td><%= contact.phone %></td>
            <td><%= contact.faculty %></td>
            <td><%= contact.student_id_number %></td>
            <td><%= contact.national_lecturer_identification_number %></td>
            <td><%= contact.last_position %></td>
            <td><%= link_to 'Delete', [@user, contact], method: :delete, class:'btn btn-danger'%></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to 'New Contact Friend', new_user_friend_path(@user), class:'btn btn-primary'  %>
    
  </div>
</div>        