<%= form_with model: [@user, contact], local: contact do |form| %>
  <% if contact.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
        <% contact.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.number_field :user_id %>
  </div>

  <div>
    <%= form.label :type, style: "display: block" %>
    <%= form.text_field :type %>
  </div>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.label :phone, style: "display: block" %>
    <%= form.text_field :phone %>
  </div>

  <div>
    <%= form.label :faculty, style: "display: block" %>
    <%= form.text_field :faculty %>
  </div>

  <div>
    <%= form.label :student_id_number, style: "display: block" %>
    <%= form.text_field :student_id_number %>
  </div>

  <div>
    <%= form.label :national_lecturer_identification_number, style: "display: block" %>
    <%= form.text_field :national_lecturer_identification_number %>
  </div>

  <div>
    <%= form.label :last_position, style: "display: block" %>
    <%= form.text_field :last_position %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
