<div id="<%= dom_id univ %>">
  <p>
    <strong>Name:</strong>
    <%= univ.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= univ.address %>
  </p>

  <p>
    <strong>Website:</strong>
    <%= univ.website %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= univ.country %>
  </p>

  <p>
    <strong>City:</strong>
    <%= univ.city %>
  </p>

</div>
